[[extend 'layout.html']]
<head>
<style>
[v-cloak] {
     display: none;
}
</style>
<script src="https://d3js.org/d3.v6.js"></script>
</head>


<div class="section" id="app" v-cloak>
    <h1>Region Infomation</h1>
    <div class="general_infomation">
        <div class="card species_count">
            <div class="card-content">
                <div class="card-title">
                    <h1>Number of Species</h1>
                    <p class="species_number">{{specieslist.length}}</p>
                </div>
            </div>
        </div>
        <div class="card checklist_count">
            <div class="card-content">
                <div class="card-title">
                    <h1>Number of Checklist</h1>
                    <p class="checklist_number">{{num_checklist}}</p>
                </div>
            </div>
        </div>
        <div class="card sighting_count">
            <div class="card-content">
                <div class="card-title">
                    <h1>Total Number of Sighting</h1>
                    <p class="sighting_number">{{total_sighting}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="checklist">
        <h1>Your Checklist</h1>
        <div class="card birdlist mt4">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="species"></p>
                    </div>
                    <div class="media-left">
                        <p class="count"></p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="contributor">
        <h1>Checklists Leaderboard</h1>
        <div class="card contribute mt4" v-for="c in top_5" :key="c">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="contributor">{{c.user_id}}</p>
                    </div>
                    <div class="media-left">
                        <p class="con_number">{{c.number}} checklists</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>




[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    let location_data = '[[=XML(location_data)]]'
</script>
<script src="js/map.js"></script>
[[end]]