[[extend 'layout.html']]

<style>
[v-cloak] {
    display: none;
}
</style>

<div class="section" id="app" v-cloak>
  <h1 class="title">Checklist Items</h1>
  <div class="container">
    <table class="table is-fullwidth is-striped">
      <tr class="item-row" v-for="item in checklist_items" :key="item.id">
        <td>{{ item.name }}</td>
      </tr>
    </table>
  </div>
</div>

[[block page_scripts]]
<script>
  let get_checklist_url = "[[=XML(get_checklist_url)]]";
</script>
<script src="js/checklist.js"></script>
[[end]]